<div style="margin:20px;">
    <!-- <p>testing it...</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
      user works!dlf kajg;lfdskgj lka;lkjsdla ldk jlksadhg alsfkhdg alsfhg alkfdhg salkgfh alkfhg aslkgha slfkhg a;lskhg lgkhs glksf hglkfsa hg
    </p> -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Nav tabs --
          <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes --
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                <div role="tabpanel" class="tab-pane" id="profile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                <div role="tabpanel" class="tab-pane" id="messages">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->



    <div class="container-fluid" >
      <div class="row">
          <div class="col-md-8 text-center " style="background-color: white; padding:0px;">
              <nav class="">
                <div class="nav nav-tabs " id="nav-tab" role="tablist" style="padding-left:10px;">
                  <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">All</a>
                  <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false">Group</a>
                  <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Healthcode</a>
                  <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Medical Center</a>
                  <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Provider</a>
                  <a [routerLink]="['/addUser']" class="nav-item nav-link ml-auto" style="float:right !important; color:#2ab6f7;">
                      <i class="fa fa-fw fa-plus-circle"></i>
                      <span>{{ 'Add User' }}</span>
                  </a>           
                </div>
               
              </nav>
              <div class="row ">
                  <div class="col-md-12">
                      <form class="card card-sm" style="border:none;">
                          <div class="card-body row no-gutters align-items-center" style="padding:5px;">
                              <div class="col-auto">
                                  <i class=" fa fas fa-search fa-lg" style="color:#c8c8c8; padding:15px;"></i>
                              </div>
                              <!--end of col-->
                              <div class="col">
                                  <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search here...">
                              </div>
                              <!--end of col-->
                              <div class="col-auto">
                                  <!-- <i class=" fa fas fa-signal" style="color:#c8c8c8; padding:5px;"></i>
                                  <i class=" fa fas fa-exchange" style="color:#c8c8c8; padding:5px;"></i> -->
                                  <img src="assets/images/filter.png" width="" height="" style="padding-right: 20px;">
                                  <img src="assets/images/sort-by-alphabet.png" width="" height="" style="padding-right: 30px;">
                              </div>
                              <!--end of col-->
                          </div>
                      </form>
                  </div>
                  <!--end of col-->
              </div>
              <div class="card" style="border-left:6px solid #2ab6f7; border-radius: 0px;">
                 <div class="row">
                    <div class="col-md-2" style="">
                        <img src="assets/images/im.jpg" width="65" height="65" style="border-radius: 50%; padding:10px; float:left;">
                      </div>
                      <div class="col-md-10" style="">
                        <div class="card-header" style="background-color: white; border-bottom:none;">Mr.Some Name</div>
                        <div class="card-body">
                          <ul>
                            <li>User ID</li>
                            <li>Site Name</li>
                            <li>Site ID</li>
                            <li>Days</li>
                            <li>Attempt</li>
                          </ul>
                        </div> 
                      </div>
                 </div>
              </div>
              <div class="card" style="margin-top: -1px;border-top: none;">                   
                  <div class="card-footer" style="background-color: white; border-radius: 0px;">Footer</div>
              </div>
              <!-- <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                      <div class="pt-3"></div>
                      <p>1. There's another way to do this for layouts that doesn't have to put the navbar inside the container, and which doesn't require any CSS or Bootstrap overrides.

                      Simply place a div with the Bootstrap container class around the navbar. This will center the links inside the navbar:</p>
                    </div>
                <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                    <div class="pt-3"></div>
                      <p>2. There's another way to do this for layouts that doesn't have to put the navbar inside the container, and which doesn't require any CSS or Bootstrap overrides.

                      Simply place a div with the Bootstrap container class around the navbar. This will center the links inside the navbar:</p>
                    
                </div>
                <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                    <div class="pt-3"></div>
                      <p>3. There's another way to do this for layouts that doesn't have to put the navbar inside the container, and which doesn't require any CSS or Bootstrap overrides.

                      Simply place a div with the Bootstrap container class around the navbar. This will center the links inside the navbar:</p>
                    
                </div>
                
              </div> -->
             
          </div>
      </div>
    </div>

</div>