<!-- <div style="width:86px; height:79px; background-color:#6685BB; margin:0px !important; padding:20px; ">
        <img src="assets/images/menu.png" width="23px" height="24px" >
    </div> -->
<nav class="navbar navbar-expand-md fixed-top " [ngClass]="{collapsed: collapedSideBar}"  >
    <!-- <div style="width:86px; height:79px; background-color:#6685BB; margin:0px !important;">
        <img src="assets/images/menu.png" width="23px" height="24px" >
    </div> -->
    <div class="navbar-brand" style="border-right: 1px solid #e6e6e6; padding-right: 10px;">
        <img src="assets/images/healthcode.png" width="" height="" (click)="inputVal()">
    </div>&nbsp;
    <div> Users {{boolValue}}</div>
    
    <!-- sidebar toggle button -->

    <!-- old menu button -->

    <!-- <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> --
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button> -->

    <!-- <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' }}" >
        </form>
        
    </div> -->

    <!-- header tabs section -->

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <!-- <span class="navbar-toggler-icon"></span> --
        <i class="fa fa-bars text-muted"></i>
        
    </button> -->

   <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <div class=" navbar-nav list-group" >
        <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>
            <span>{{ 'User' }}</span>
        </a>
        <a [routerLink]="['/insurer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-circle-o"></i>
            <span>{{ 'Insurer' }}</span>
        </a>
        <a [routerLink]="['/mapTables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>
            <span>{{ 'Mapping tables' }}</span>
        </a>
        <a [routerLink]="['/sites']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-industry"></i>
            <span>{{ 'Sites' }}</span>
        </a>
        <a [routerLink]="['/audit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search-plus"></i>
            <span>{{ 'Lookup_audit' }}</span>
        </a>
        <a [routerLink]="['/veda']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-line-chart"></i>
            <span>{{ 'Veda' }}</span>
        </a>
        <a [routerLink]="['/queries']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-question"></i>
            <span>{{ 'Queries' }}</span>
        </a>
        <a [routerLink]="['/locks']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-lock"></i>
            <span>{{ 'Locks' }}</span>
        </a>
        <a [routerLink]="['/registrations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>
            <span>{{ 'Registrations' }}</span>
        </a>
    </div>
   </div> -->

   <!-- old user profile -->

   <!-- <div class="collapse navbar-collapse"> 
        <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                            <i class="fa fa-user"></i> John Smith <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu-right" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                                <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                            </a>
                        </div>
                </li>
        </ul>
    </div> -->

    <!-- new profile -->

    <!-- <div class="collapse navbar-collapse"> 
        <ul class="navbar-nav ml-auto">
                <li class="nav-item " >
                        <div style="border-right:1px solid #e6e6e6">
                            <i class="fa fa-fw fa-bell"></i>
                        </div>                        
                    </li>
                <li class="nav-item " >
                    <div class="round" style="background-color: orange;">
                        <span style="padding:0px;">GH</span>
                    </div>                        
                </li>
        </ul>
    </div> -->

    
    <div class="navbar-nav ml-auto" style="margin: 0;">
        <li class="nav-item " style="margin-right:10px; ">
                <div style="border-right:1px solid #e6e6e6; padding:5px 30px 0px 0px; ">
                    <img src="assets/images/notification.png" width="" height="" >
                </div>                        
            </li>
        <li class="nav-item " style="padding:0px 20px 0 15px; " >
            <div class="round" style="background-color: #DD5D80; ">
                <span style="padding:0px;">TH</span>
            </div>                        
        </li>
    </div>   
        
   
</nav>
