$topnav-background-color: #FFFFFF;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #222;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #222;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
.list-group {
    a.list-group-item {
        background: $topnav-background-color;
        border: 0;
        border-radius: 0;
        color: #999;
        text-decoration: none;
        .fa {
            margin-right: 10px;
        }
    }
    a:hover {
        background: darken($topnav-background-color, 5%);
        color: #222;
    }
    a.router-link-active {
        background: darken($topnav-background-color, 5%);
        color: #222;
    }
    .header-fields {
        padding-top: 10px;
    
        > .list-group-item:first-child {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}
.round {
    display: inline-block;
    height: 34px;
    width: 34px;
    line-height: 34px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}

.fixed-top{
    left:200px; 
    height:79px; 
    border-bottom:1px solid #e6e6e6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.collapsed{
    left:70px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}