<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">HealthCode</a>
    
    <!-- sidebar toggle button -->

    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>

    <!-- <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' }}" >
        </form>
        
    </div> -->

    <!-- header tabs section -->

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <!-- <span class="navbar-toggler-icon"></span> --
        <i class="fa fa-bars text-muted"></i>
        
    </button> -->

   <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <div class=" navbar-nav list-group" >
        <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>
            <span>{{ 'User' }}</span>
        </a>
        <a [routerLink]="['/insurer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-circle-o"></i>
            <span>{{ 'Insurer' }}</span>
        </a>
        <a [routerLink]="['/mapTables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>
            <span>{{ 'Mapping tables' }}</span>
        </a>
        <a [routerLink]="['/sites']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-industry"></i>
            <span>{{ 'Sites' }}</span>
        </a>
        <a [routerLink]="['/audit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search-plus"></i>
            <span>{{ 'Lookup_audit' }}</span>
        </a>
        <a [routerLink]="['/veda']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-line-chart"></i>
            <span>{{ 'Veda' }}</span>
        </a>
        <a [routerLink]="['/queries']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-question"></i>
            <span>{{ 'Queries' }}</span>
        </a>
        <a [routerLink]="['/locks']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-lock"></i>
            <span>{{ 'Locks' }}</span>
        </a>
        <a [routerLink]="['/registrations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>
            <span>{{ 'Registrations' }}</span>
        </a>
    </div>
   </div> -->
   <div class="collapse navbar-collapse"> 
        <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                            <i class="fa fa-user"></i> John Smith <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu-right" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                                <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                            </a>
                        </div>
                </li>
        </ul>
    </div>
   
</nav>
