<div class="flex-container-info2">
    <div class="form-group" style="border: 1px solid #EBEBEB; border-radius: 5px; padding:1px; background-color: white; height: 60px;">
      <label for="exampleFormControlSelect1" style="margin:-60px 0px; font-size:13px;">Example select</label>
      <select class="form-control input-lg" style="padding:0px; outline:none;">
        <option>select</option>
        <option>select2</option>
        <option>select3</option>
      </select>
      <i class="fa fa-chevron-down" style="margin-top:-37px;"></i>
    </div>
</div><br>
<button type="button" (click)="someButton(2)">click me</button>
<br>
<!-- <ul *ngFor="let some of someArray">
  <li>{{some}}</li>
</ul> -->
<div style="width:200px; height: 50px; border:1px solid blue">{{count}}</div><br>
<button class="btn btn-success" (click)="total(1)">plus+</button>&nbsp;
<button class="btn btn-danger"(click)="total(-1)">minus-</button>
<br>
<div class="flex-container-info2">
    <div class="form-group" style="border: 1px solid #EBEBEB; border-radius: 5px; padding:1px; background-color: white; height: 60px;">
      <label for="exampleFormControlSelect1" style="margin:-60px 0px; font-size:13px;">Example select</label><br>
      <div>{{count}}</div>
      <i class="fa fa-plus-circle " (click)="d.toggle()" style="margin-top: -33px; margin-right: 10px; float:right; font-size:30px;"></i>
      <i class="fa fa-minus-circle " (click)="d.toggle()" style="margin-top: -33px; margin-right: 50px; float:right; font-size:30px;"></i>
    </div>
</div>

<div class="flex-container-info2">
    <div class="form-group" style="border: 1px solid #EBEBEB; border-radius: 5px; padding:1px; background-color: white; height: 60px;">
      <label for="exampleFormControlSelect1" style="margin:-60px 0px; font-size:13px;">Example select</label><br>
      <input type="text" ngbDatepicker #d="ngbDatepicker" class="date-input"/>
      <i class="fa fa-chevron-down " (click)="d.toggle()" style=" margin-right: 7px; float:right"></i>
    </div>
</div>


<p id="id1">id1</p>
<p id="id2">id2</p>
<p id="id3">id3</p>
<p id="id4">id4</p>
<p id="id5">id5</p>
<p id="id6">id6</p>
<p id="id7">id7</p>
<!-- <input type="text" ngbDatepicker #d="ngbDatepicker"/>

<button (click)="d.toggle()">click Me</button> -->
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>
<p>skjdgflkshgdbfkjsgdfiksagdbfksdjgbfkdsjf</p>

<!-- <ngb-datepicker #e></ngb-datepicker> -->
