<div class="flex-container-info2">
    <div class="form-group" style="border: 1px solid #EBEBEB; border-radius: 5px; padding:1px; background-color: white; height: 60px;">
      <label for="exampleFormControlSelect1" style="margin:-60px 0px; font-size:13px;">Example select</label>
      <select class="form-control input-lg" style="padding:0px; outline:none;">
        <option>select</option>
        <option>select2</option>
        <option>select3</option>
      </select>
      <i class="fa fa-chevron-down" style="margin-top:-37px;"></i>
    </div>
</div>
