.round {
    display: inline-block;
    margin:30px 57px 10px 57px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.hollow {
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FFF;    
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(230,230,230,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(230,230,230,0.75);
    box-shadow: 0px 0px 0px 3px rgba(230,230,230,0.75);
}

.roundColor{
    color:#94999D;
    font-weight: 600;
}
.dis{
    display:inline;
}
.flex-container {
    display: flex;
    justify-content: center;
   // background-color: DodgerBlue;
  }
  
//   .flex-container > div {
//     background-color: #f1f1f1;
//     width: 100px;
//     margin: 10px;
//     text-align: center;
//     line-height: 75px;
//     font-size: 30px;
//   }

.flex-containerAddUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //place holder style

  ::-webkit-input-placeholder {
    text-align: center;
    font-weight: bold;
    font-size: 20px; 
    color:#EBEBEB;   
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
    color:#EBEBEB;    
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-weight: bold;
    font-size: 20px; 
    color:#EBEBEB;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    font-weight: bold;
    font-size: 20px;   
    color:#EBEBEB;
 }