<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
            <a class="list-group-item sidebar-logo " [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()" (mousedown)="greetStd()">
                <!-- <i class="fa fa-fw fa-user"></i> -->
                <!-- <span>{{ 'User' }}</span> -->
                <img src="assets/images/menu.png" width="" height="" style="opacity:1;">
            </a>
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
                <!-- <i class="fa fa-fw fa-user"></i> -->
                <!-- <span>{{ 'User' }}</span> -->
                <img src="assets/images/dashboard.png" width="" height="" >
            </a>
        <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-user"></i> -->
            <!-- <span>{{ 'User' }}</span> -->
            <img src="assets/images/user.png" width="" height="">
        </a>
        <a [routerLink]="['/insurer']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-user-circle-o"></i> -->
            <!-- <span>{{ 'Insurer' }}</span> -->
            <img src="assets/images/insurer.png" width="" height="">
        </a>
        <a [routerLink]="['/mapTables']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-table"></i> -->
            <!-- <span>{{ 'Mapping tables' }}</span> -->
            <img src="assets/images/mapping-tables.png" width="" height="">
        </a>
        <a [routerLink]="['/sites']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-industry"></i> -->
            <!-- <span>{{ 'Sites' }}</span> -->
            <img src="assets/images/sites.png" width="" height="">
        </a>
        <a [routerLink]="['/audit']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-search-plus"></i> -->
            <!-- <span>{{ 'Lookup_audit' }}</span> -->
            <img src="assets/images/lookup.png" width="" height="">
        </a>
        <!-- <a [routerLink]="['/veda']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <i class="fa fa-fw fa-line-chart"></i>
            <span>{{ 'Veda' }}</span>
            <img src="assets/images/dashboard.png" width="23px" height="24px">
        </a> -->
        <a [routerLink]="['/queries']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-question"></i> -->
            <!-- <span>{{ 'Queries' }}</span> -->
            <img src="assets/images/queries.png" width="" height="">
        </a>
        <a [routerLink]="['/locks']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-lock"></i> -->
            <!-- <span>{{ 'Locks' }}</span> -->
            <img src="assets/images/lock.png" width="" height="">
        </a>
        <a [routerLink]="['/registrations']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-logo">
            <!-- <i class="fa fa-fw fa-edit"></i> -->
           
            <img src="assets/images/registration.png" width="" height="">
            <span>{{ 'Registrations' }}</span>
        </a>
        
        <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' }}</span>
        </a> -->
        

        <div class="header-fields">
            <!-- <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
             <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div> -->
            <!-- <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div> -->
        </div>
    </div>
  
    <!-- collapse sidebar -->

    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
